<header class="header">

    <div><a class="header__link" href="./image/h n.png"></a></div>

    <nav class="header__navbar">

        
        <div class="navbar__home" id="navbarButton" >
            <a class="header__link" href="/">Home</a>
        </div>

        <div class="navbar__parcours" id="navbar">
            <a class="header__link" href="/aboutme">About me</a>
        </div>
        <div class="navbar__projets" id="navbar">
            <a class="header__link" href="/projects">My projects</a>
        </div>
        <div class="navbar__contacter" id="navbar" >
            <a class="header__link" href="/contact">Contact me</a>
        </div>
    </nav>
</header>