<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="./css/404.css">

<%- include('./partials/nav.ejs') %>

<main class="main">

 <p class="error">Are you lost ?</p>

</main>

<%- include('./partials/footer.ejs') %>