
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="./css/aboutme.css">

    <%- include('./partials/nav.ejs') %>

    <body class="body">
        <div class="container">
        <section class="left-section">
        <div class="profil">
            <img class="header__image" src="image/photoprofil.jpeg" alt="Photo de Hamza">
            <h1 class="header__title">Hamza Naceur </h1>  
            <h2 class="header__subtitle"><span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ "Développeur Fullstack JS" ]'></span></h2>

        </div>

        <main class="main">

            <h1 class="main__title">About me</h1>
            <p>Passionate by technology and computer science since my childhood, I have decide to take a new turn in my life to being a developer. 
                Strong by my past finance experiences in France with international companies and aboard which had allows me to acquire a strong capacity of adaptation, team spirit, problem solving, critical mindset and rigor.
                I'm specialize with the techno JavaScript/React, I'm able to work on front-end and back-end projects in particular with Node JS and SQL.
                I'm looking for new challenges and looking to learn new technologies and working method beside passionate. </p>
               
               <p> 

                I will enjoyed to work among you !
            </p>


            <h1 class="main__title">My journey </h1>

            <h2 class="main__subtitle">Education</h2>

            <p>O'Clock - Training Fullstack JavaScript Developer - August 2022 to February 2023</p><br>
            <p>Openclassroom - Self learning HTML/CSS/JS - April 2022 to August 2022</p><br>
            <p>Montpellier Business School - Programme Master Grande Ecole-Bac+5 - 2017 to 2020</p><br>
            <p>ENC Bessières - Classe Préparatoire aux Grandes Ecoles-Bac+2 -2015-2017</p><br>
            <p>Lycée Alexandre Dumas - Baccalauréat Sciences et Technologies du Management et de la Gestion - 2012 -2015</p>

            <h2 class="main__subtitle">Professional Experiences</h2>
            <p>Groupe Atlantic - International Financial Controller - Thailand 2021 to 2022</p><br>
            <p>EIFFAGE - Project Financial Controller - France 2020 -2021</p><br>
            <p>Wabtec Corporation - Corporate Financial Controller - France 2018 to 2020</p><br>
            <p>LivelikeVR - Startup Financial Assistant - 2018</p>

            <a href="../public/cv/CV_2022-11-30_Hamza_Naceur.pdf" download="CV_2022-11-30_Hamza_Naceur"> <h3 class="main__subtitle">Download my CV </h3></a>


            <img class="main_cv" src="/image/Capture d’écran 2022-11-30 à 12.03.44.png" alt="Hamza Naceur CV">

        </main>

    </section>
    <div>
        <h3 class="section__subtitle">Languages</h3> 
        <section class="languages-section">
            
            <ul class="section__language">
                
                <div class="container__languages">
                <li><img class="flags" src="/image/royaume-uni.png" alt="England Flag"></li>
    
                <div class="progressBar progress-moved">
                    <div class="progress-barAn"></div>
                  </div>
                </div>
                 

                <li> <img class="flags" src="/image/la-france.png" alt="Frensh Flag"></li>
                <div class="progressBar progress-moved">
                    <div class="progress-barFr"></div>
                  </div>
                <li><img class="flags" src="/image/spain.png" alt="Spain Flag"></li>
                <div class="progressBar progress-moved">
                    <div class="progress-barEs"></div>
                  </div>

                <li><img class="flags" src="/image/arabie-saoudite.png" alt="Saudi Flag"></li>
                <div class="progressBar progress-moved">
                    <div class="progress-barAr"></div>
                  </div>

            </ul>
        </section>

        <h3 class="section__subtitle">Tech Stack</h3>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/image/js.png" height="100" width="100" alt="JavaScript Logo" />
                </div>
                <div class="slide">
                    <img src="/image/nodejs.png" height="100" width="100" alt="NodeJS Logo" />
                </div>
                <div class="slide">
                    <img src="/image/physics.png" height="100" width="100" alt="React Logo" />
                </div>
                <div class="slide">
                    <img src="/image/html-5.png" height="100" width="100" alt="HTML Logo" />
                </div>
                <div class="slide">
                    <img src="/image/css-3.png" height="100" width="100" alt="CSS Logo" />
                </div>
                <div class="slide">
                    <img src="/image/sql-server.png" height="100" width="100" alt="SQL Logo" />
                </div>
                <div class="slide">
                    <img src="/image/postgre.png" height="100" width="100" alt="PostgreSQL Logo" />
                </div>
                <div class="slide">
                    <img src="/image/linux.png" height="100" width="100" alt="Linux Logo" />
                </div>
                <div class="slide">
                    <img src="/image/github.png" height="100" width="100" alt="Github Logo" />
                </div>
                <div class="slide">
                    <img src="/image/oracle.png" height="100" width="100" alt="Oracle Logo" />
                </div>
            </div>
        </div>

        <h3 class="section__subtitle">Hobbies</h3>
        <section class="hobbies_section">
           
            <ul class="section__hobbies">
                <li><div style="width:70%;height:0;padding-bottom:60%;position:relative;"><iframe src="https://giphy.com/embed/Vdu4ZSqcCw0AoQ8v7F" width="50%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" ></iframe></div>Brazilian Juijitsu </li>
                <li><div style="width:50%;height:0;padding-bottom:125%;position:relative;border: radius 10%;;"><iframe src="https://giphy.com/embed/AErExHJVxRbkm5hPkB" width="50%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>Travels and cultures</li>
                <li>Art/Design & fashion</li>
                <li>History</li>
            </ul>

        </section>
    </div>
</div>
<script src="js/app.js"></script>
    </body>
</html>

<%- include('./partials/footer.ejs') %>


