
    <%- include('./partials/head.ejs') %>
    
    <link rel="stylesheet" href="./css/aboutme.css">
   

    <%- include('./partials/nav.ejs') %>

    <body class="body">
        <div class="container">
        <section class="left-section">
        <div class="profil">
            <img class="header__image" src="image/photoprofil.jpeg" alt="Photo de Hamza">
            <h1 class="header__title">Hamza Naceur </h1>  
            <h2 class="header__subtitle"><span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ "Développeur Fullstack JS" ]'></span></h2>

        </div>

        <main class="main">

            <h1>About me</h1>
            <p>Being developer was for me a dream coming true, when I was kid I always wanter to become that
                guy making applications and videogames. The reality quickly catch me up, I finally worked as Financial 
                in big international companies in France and aboard it was great experiences but my life still had a bitter taste. 
                Nethersless, nowadays are the days where everything is possible with the digitalisation of the economy, everything is going faster,
                everything is becoming possible. </p>
               
               <p> I took over the rains of my destiny to fulfill my child dream and becoming a Web Developper.
                My past experiences alowed me to get a strong team spirit, great communication skills and capacity of adaptation to my environment and tools.

                Strong from my past professionals experiences and the new developing expertises I aquired, I will enjoyed to work among you !
            </p>


            <h1 class="main__title">My journey </h1>

            <h2 class="main__subtitle">Education</h2>

            <p>O'Clock - Training Fullstack JavaScript Developer - August 2022 to February 2023</p><br>
            <p>Openclassroom - Self learning HTML/CSS/JS - April 2022 to August 2022</p><br>
            <p>Montpellier Business School - Programme Master Grande Ecole-Bac+5 - 2017 to 2020</p><br>
            <p>ENC Bessières - Classe Préparatoire aux Grandes Ecoles-Bac+2 -2015-2017</p><br>
            <p>Lycée Alexandre Dumas - Baccalauréat Sciences et Technologies du Management et de la Gestion - 2012 -2015</p>

            <h2 class="main__subtitle">Professional Experiences</h2>
            <p>Groupe Atlantic - International Financial Controller - Thailand 2021 to 2022</p><br>
            <p>EIFFAGE - Project Financial Controller - France 2020 -2021</p><br>
            <p>Wabtec Corporation - Corporate Financial Controller - France 2018 to 2020</p><br>
            <p>LivelikeVR - Startup Financial Assistant - 2018</p>

        </main>

    </section>
    <div>
        <section class="languages-section">
            <h3 class="section__subtitle">Languages</h3>
            <ul class="section__language">
                
                <li><img class="flags" src="/image/royaume-uni.png" alt="England Flag"></li>
                <div id="Progress_Status">
                    <div id="myprogressBarAn"></div>
                  </div>

                <li> <img class="flags" src="/image/la-france.png" alt="Frensh Flag"></li>
                <div id="Progress_Status">
                    <div id="myprogressBarFr"></div>
                  </div>

                <li><img class="flags" src="/image/spain.png" alt="Spain Flag"></li>
                <div id="Progress_Status">
                    <div id="myprogressBarEs"></div>
                  </div>

                <li><img class="flags" src="/image/arabie-saoudite.png" alt="Saudi Flag"></li>
                <div id="Progress_Status">
                    <div id="myprogressBarAr"></div>
                  </div>


            </ul>
        </section>

        <section class="skills_section">
            
            <h3 class="section__subtitle">Skills</h3>
            <ul class="section__skills">
                <li>Office Pack</li>
                <li>ORACLE</li>
            </ul>
        </section>
        <section class="stack_section">
            <h3 class="section__subtitle">Tech Stack</h3>
            <ul class="section__skills">
                <li> <img class="tech-images" src="/image/js.png" alt="JavaScript Logo"> </li>
                <li><img class="tech-images" src="/image/nodejs.png" alt="Node.JS Logo"></li>
                <li><img class="tech-images" src="/image/physics.png" alt="React Logo"></li>
                <li><img class="tech-images" src="/image/html-5.png" alt="HTML Logo"></li>
                <li><img class="tech-images" src="/image/css-3.png" alt="CSS Logo"></li>
                <li><img class="tech-images" src="/image/sql-server.png" alt="SQL Logo"></li>
                <li><img class="tech-images" src="/image/postgre.png" alt="Postgres Logo"></li>
                <li><img class="tech-images" src="/image/linux.png" alt="Postgres Logo"></li>
            </ul>
        </section>
        <section class="hobbies_section">
            <h3 class="section__subtitle">Hobbies</h3>
            <ul class="section__hobbies">
                <li><div style="width:70%;height:0;padding-bottom:60%;position:relative;"><iframe src="https://giphy.com/embed/Vdu4ZSqcCw0AoQ8v7F" width="50%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" ></iframe></div><a href="https://giphy.com/gifs/HyperflyWorldWide-mma-jiujitsu-jiu-jitsu-Vdu4ZSqcCw0AoQ8v7F"></a> Brazilian Juijitsu </li>
                <li><div style="width:50%;height:0;padding-bottom:125%;position:relative;border: radius 10%;;"><iframe src="https://giphy.com/embed/AErExHJVxRbkm5hPkB" width="50%" height="50%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><a href="https://giphy.com/gifs/travel-traveling-internships-AErExHJVxRbkm5hPkB">via GIPHY</a>Travels and cultures</li>
                <li>Art/Design & fashion</li>
                <li>History</li>
            </ul>

        </section>
    </div>
</div>
<script src="js/app.js"></script>
    </body>
</html>


