<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="./css/contact.css">

<%- include('./partials/nav.ejs') %>``

<main class="main">


<p class="contact_linkedin">
    <img src="./image/linkedin.svg" alt="Linkedin Logo">
    <a class="linkedin" href="https://www.linkedin.com/in/hamza-naceur-3bb597148/">Linkedin </a>
</p>

<p class="contact_mail">
    <img src="./image/mail.svg" alt="Mail Logo">
    <a class="mail" href="mailto:h.naceur@montpellier-bs.com">Mail </a>
</p>
<p class="contact_whatsapp">
    <img src="./image/phone.svg" alt="Phone Logo">
    <a class="whatsapp" href="#">Whatsapp </a>
</p>
<p class="contact_twitter">
    <img src="./image/twitter.svg" alt="Twitter Logo">
    <a class="twitter" href="#">Twitter</a>
</p>



</main>


<%- include('./partials/footer.ejs') %>