<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="./css/form.css">

<%- include('./partials/nav.ejs') %>

<main class="main">

<div class="background">
    <div class="container">
    
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT</span>
              <span>ME</span>
            </div>
            <div class="app-contact">Whatsapp : +33 7 67 58 92 61</div>
          </div>
          <div class="screen-body-item">
            <form class="app-form" method="post" action="sendemail.php">
              <div class="app-form-group" id="name">
                <input class="app-form-control " placeholder="NAME" value="Will Smith">
              </div>
              <div class="app-form-group " id="email">
                <input class="app-form-control " placeholder="EMAIL">
              </div>
              <div class="app-form-group" id ="subject">
                <input class="app-form-control " placeholder="SUBJECT">
              </div>
              <div class="app-form-group message" id="message">
                <input class="app-form-control" placeholder="MESSAGE">
              </div>
              <div class="app-form-group buttons">
                <button class="app-form-button">CANCEL</button>
                <button class="app-form-button">SEND</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  

</main>

<script src="../public/js/mailer.js"> </script>

<%- include('./partials/footer.ejs') %>