<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

    <main class="main">
        <h1 class="main__title"><span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "Bonjour!","Hello!","¡Hola!"," ¡مرحبا","你好","привет" ]'
            data-rotate='[ "Moi cest Hamza","Hello!","¡Hola!"," ¡مرحبا","你好","привет" ]'>
        
        </span></h1>

        
    </main>

    <script src="../public/js/app.js"></script>
  
    <%- include('./partials/footer.ejs') %>