<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="./css/projects.css">

<%- include('./partials/nav.ejs') %>

<main class="main">
<h1 class="main__title">My projects</h1>

<div class="container">
<div class="container__project">
<h1 class="container__title">Money Converter</h1>
<img class="container__picture" src="../../image/moneyconverter.png " alt="Appli Money Converter Picture">
<div class="description">
<h3>React</h3>
<p>Details of the project (DOM, JAVASCRIPT,..</p>
<a href="">Github Link</a>
<a href="">Website Link</a>
</div>
</div>

<div class="container__project">
    <h1 class="container__title">My Portfolio</h1>
    <img class="container__picture" src="../../image/Portfolio.png " alt="Appli Portfolio Picture">
    <div class="description">
    <h3>NodeJS, JavaScript, HTML & CSS</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="https://github.com/HaNaceur/Portfolio">Github Link</a>
    <a href="https://portfolio-production-e5c4.up.railway.app/aboutme">Website Link</a>
</div>
</div>

<div class="container__project">
    <h1 class="container__title">Character Creator</h1>
    <img class="container__picture" src="../../image/Character creator.png " alt="Appli Money Converter Picture">
    <div class="description">
    <h3>React</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="">Github Link</a>
    <a href="">Website Link</a>
    </div>
    </div>

    <div class="container__project">
        <h1 class="container__title">Perso Creator</h1>
        <img class="container__picture" src="../../image/moneyconverter.png " alt="Appli Money Converter Picture">
        <div class="description">
        <h3>React</h3>
        <p>Details of the project (DOM, JAVASCRIPT,..</p>
        <a href="">Github Link</a>
        <a href="">Website Link</a>
        </div>
        </div>

        <div class="container__project">
            <h1 class="container__title">Money Converter</h1>
            <img class="container__picture" src="../../image/moneyconverter.png " alt="Appli Money Converter Picture">
            <div class="description">
            <h3>React</h3>
            <p>Details of the project (DOM, JAVASCRIPT,..</p>
            <a href="">Github Link</a>
            <a href="">Website Link</a>
            </div>
            </div>

            <div class="container__project">
                <h1 class="container__title">Money Converter</h1>
                <img class="container__picture" src="../../image/moneyconverter.png " alt="Appli Money Converter Picture">
                <div class="description">
                <h3>React</h3>
                <p>Details of the project (DOM, JAVASCRIPT,..</p>
                <a href="">Github Link</a>
                <a href="">Website Link</a>
                </div>
                </div>

</div>
</main>

<%- include('./partials/footer.ejs') %>