<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="./css/projects.css">

<%- include('./partials/nav.ejs') %>

<main class="main">
<h1 class="main__title">My projects</h1>

<div class="container">

    <div class="container__project">
        <h1 class="container__title">Money Converter</h1>
        <a target="_blank" href="https://international-converter.netlify.app/">
        <img class="container__picture" src="../../image/moneyconverter.png " alt="Appli Money Converter Picture">
        </a>
        <div class="description">
        <h3>React, Sass</h3>
        <p>Details of the project (DOM, JAVASCRIPT,..</p>
        <a target="_blank" href="https://github.com/HaNaceur/Money-Converter">Github Link</a>
        <a target="_blank" href="https://international-converter.netlify.app/">Website Link</a>
        </div>
        </div>



<div class="container__project">
    <h1 class="container__title">Blog DevofThrones</h1>
    <a target="_blank" href="https://devofthrones.netlify.app/">
    <img class="container__picture" src="../../image/BlogDev2.png " alt="Blog DevofThrones Picture App" >
    </a>
    <div class="description">
    <h3>React, Sass</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a target="_blank" href="https://github.com/HaNaceur/Blog">Github Link</a>
    <a target="_blank" href="https://devofthrones.netlify.app/">Website Link</a>
    </div>
    </div>

<div class="container__project">
    <h1 class="container__title">My Portfolio</h1>
    <a target="_blank" href="https://portfolio-hamza-naceur.up.railway.app/">
    <img class="container__picture" src="../../image/Portfolio.png " alt="Portfolio Picture App">
    </a>    
    <div class="description">
    <h3>NodeJS, JavaScript, HTML & CSS</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a target="_blank" href="https://github.com/HaNaceur/Portfolio">Github Link</a>
    <a target="_blank" href="https://portfolio-hamza-naceur.up.railway.app/">Website Link</a>
</div>
</div>

<div class="container__project">
    <h1 class="container__title">Character Creator</h1>
    <a target="_blank" href="https://character-creat.netlify.app/">
    <img class="container__picture" src="../../image/Character creator.png " alt="Character Creator Picture App">
    </a>
    <div class="description">
    <h3>React</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a target="_blank" href="https://github.com/HaNaceur/Perso-Creator/tree/master/my-app">Github Link</a>
    <a target="_blank" href="https://character-creat.netlify.app/">Website Link</a>
    </div>
    </div>

    <div class="container__project">
        <h1 class="container__title">ToDoList</h1>
        <a target="_blank" href="">
        <img class="container__picture" src="../../image/DrawingScreen.png " alt="ToDoList Picture App">
        </a>
        <div class="description">
        <h3>HTML, CSS, JavaScript</h3>
        <p>Peer-programming day project in full JavaScript</p>
        <a target="_blank" href="https://github.com/HaNaceur/Invader">Github Link</a>
        <a target="_blank" href="">Website Link</a>
        </div>
        </div>

</div>

<div class="container__project">
            <h1 class="container__title">ToDoList</h1>
            <a target="_blank" href="">
            <img class="container__picture" src="../../image/Todolist.png " alt="ToDoList Picture App">
            </a>
            <div class="description">
            <h3>React, Sass</h3>
            <p>Details of the project (DOM, JAVASCRIPT,..</p>
            <a target="_blank" href="https://github.com/HaNaceur/ToDoList">Github Link</a>
            <a target="_blank" href="">Website Link</a>
            </div>
            </div>

</div>
</main>

<%- include('./partials/footer.ejs') %>