<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="./css/projects.css">

<%- include('./partials/nav.ejs') %>

<main class="main">
<h1 class="main__title">My projects</h1>

<div class="container">
<div>
<h2>Project 1</h2>
<h3>Language utilisé</h3>
<p>Details of the project (DOM, JAVASCRIPT,..</p>
<a href="">Lien ghuithub</a>
<a href="">Site</a>
</div>

<div>
    <h2>Project 2</h2>
    <h3>Language utilisé</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="">Lien ghuithub</a>
    <a href="">Site</a>
</div>

<div>
    <h2>Project 3</h2>
    <h3>Language utilisé</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="">Lien ghuithub</a>
    <a href="">Site</a>
</div>

<div>
    <h2>Project 4</h2>
    <h3>Language utilisé</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="">Lien ghuithub</a>
    <a href="">Site</a>
</div>

<div>
    <h2>Project 5</h2>
    <h3>Language utilisé</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="">Lien ghuithub</a>
    <a href="">Site</a>
</div>

<div>
    <h2>Project 6</h2>
    <h3>Language utilisé</h3>
    <p>Details of the project (DOM, JAVASCRIPT,..</p>
    <a href="">Lien ghuithub</a>
    <a href="">Site</a>
</div>

</div>
</main>

<%- include('./partials/footer.ejs') %>