:root{
    --main-color:white;
    --second-color:#c5d5cb;
    --third-color:#9fa8a3;
}


.body{ 
    background: var(--main-color);
    font-family: 'Roboto Slab';
}

.header{
    background-color: var(--second-color);
    position: sticky;
    top: 0;
}

.header__navbar{

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;

}


.header__mode{
    display:flex;
    flex-direction: row;
    position: fixed;
    top:0;
    right:0;
}
.header__link{
    text-decoration: none;
    color: black;
}

.navbar__home, .navbar__aboutme, .navbar__projects, .navbar__contact{
    margin-right: 1rem;
    padding: 2rem ;
}
.navbar__home:hover, .navbar__aboutme:hover, .navbar__projects:hover, .navbar__contact:hover{
    font-style: underline;
    text-decoration: none;
     border-bottom:2px solid white;
     padding-bottom: 1rem;
}

.navbar__menu{
    display:none;
}
.main{
    text-align: center;
    padding-top: 10rem;
    padding-bottom:25rem;
}
.main__title{
    color:var(--third-color);
    font-size: 5rem;
}

.socialMedia{

    position: fixed;
    top: 50%;
    right: 0%;
    padding-right: 1rem;
    line-height: 2rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.twitter, .mail, .linkedin{
    cursor: pointer ;
    height: 1.7rem;
    color: var(--main-color);
}


.mail:hover, .twitter:hover, .linkedin:hover{
    font-size: 3rem;
    padding: 1rem;
}
    

.footer__copyright{
    display: block;
    text-align: center;
    font-size: small;
    border-top: 0.2px solid var(--second-color);
    color: var(--third-color);
    padding-top: 1rem;
}

@media screen and (min-width: 380px){
    .header_navbar{
        flex-direction:column
    }
  }

@media screen and (max-width: 900px){

  
    .navbar__menu{
    background-color:var(--second-color);
    width: 7%;
    display: block;
    position:absolute;
    top:5%;
    right: 5%;
    margin-top: 1rem;
    /*border-radius: 5%;*/
    }

    .header__navbar{
        top:0;
        left:0;
        position:absolute;
       /* background-color: rgba(255, 255, 255, 0.208);*/
        background-color: rgba(197, 213, 203, 1);
        backdrop-filter: blur(8px);
        width: 100%;
        height:100vh;
        flex-direction: column;
        margin-left:-100%;
    }
    .navbar__home, .navbar__aboutme, .navbar__projects, .navbar__contact{
        display: flex;
        justify-content:center;
        align-items:center;
    }

    .header__link{
        margin: 25px 0;
        font-size: 1.5rem;
        font-weight:bolder;
    }

    .header__link:hover{
    font-size: 3rem;
    }

    .mobile-menu{
        margin-left:0;

    }
    .socialMedia{
        display:none;
    }
  }