:root{
    --main-color:white;
      --second-color:#c5d5cb;
      --third-color:#9fa8a3;
  }


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
   
}

.main__title{
color:var(--third-color) ;

}

.container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
}

.container__project{
   width:50%;
padding-top:2rem;
}

.container__title{
    padding-bottom: 1rem;
    font-size: 2rem;
}


.description{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    line-height: 1.5rem;
}

.container__picture {
    resize:both;
    overflow: auto;
    border-radius:5%;
   max-width: 70%;
    height: 70%;
    width: auto;
   display: block;
    margin: 0 auto;
}

.container__picture:hover{
    box-shadow: 0 20px 40px rgba(0, 0, 0, .6);
    background-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .container{ 
        flex-direction: column;
         padding-bottom: 2rem; 
        }
    .container__project{
        width: 100%;
    }
    .container__picture {
        border-radius:0%;
       max-width: 90%;
        height: 90%;
    }
    .main__title{
        padding-bottom: 5rem;
        }
  }


